<div class="col-md-4">

    <div id="beer-card-wrap-image">
      <img
        class="card-img-top"
        src="{{image_url}}"
        alt=""
      />
    </div>

    <div class="card-body">
        <a href="/beers/{{id}}"><h5 class="card-title card-title-list-beer"> {{name}} </h5> </a>
        <h6 class="tagline"> {{tagline}} </h6>
        <p class="card-text"> {{description}} </p>
    </div>

  
</div>

