<div class="container">
 
   <div class="raw main-content">
        <div class="col-md-4">
            <div class="random-image container">
            <img src="{{image_url}}" id="img-random-card" alt="beer" />
            </div>
        </div>
    
        <div class="col-md-8">
            
            <h5 id="random-name"> {{name}} </h5>
            <h6 id="random-tagline"> {{tagline}} </h6>

            <div>
                <p id="random-description">  {{description}} </p>
                <h4> Food pairing </h4>
                <p id="random-food">  {{food_pairing}} </p>
                <h4> Brewers tips </h4>
                <p id="random-tips"> {{brewers_tips}} </p>
            </div>
        </div>
    </div>


</div>

